.container
    .row.userinfo
        .col-xs-2.col-md-4
        .col-xs-8.col-md-4.username#username
        .col-xs-2.col-md-4
    .row
        .col-xs-2.col-md-4
        .col-xs-8.col-md-4
            h2.title
                Кликер
        .col-xs-2.col-md-4
    .row
        .col-xs-1.col-md-5
        .col-xs-10.col-md-2
            .count#count
            .click-dialog
                .click-result#click-result
        .col-xs-1.col-md-5
    .row
        .col-xs-2
            span.bonus.bonus-1
                =1
        .col-xs-2
            span.bonus.bonus-2
                =2
        .col-xs-2
            span.bonus.bonus-5
                =5
        .col-xs-2
            span.bonus.bonus-10
                =10
        .col-xs-2
            span.bonus.bonus-100
                =100
        .col-xs-2
            span.bonus.bonus-1000
                =1000
    br
    .row
        .col-xs-1.col-md-5
        .col-xs-10.col-md-2
            button.btn.btn-success.click#click
                КЛИКАЙ!
        .col-xs-1.col-md-5
    hr
    .row
        .col-xs-2.col-md-5
        .col-xs-8.col-md-2
            h3
                ТОП-10
        .col-xs-2.col-md-5
    br
    .row
        .col-xs-2.col-md-5
        .col-xs-8.col-md-2
            table.table#ratingTable
        .col-xs-2.col-md-5
    br
    .row
        .col-xs-2.col-md-5
        .col-xs-8.col-md-2
            h4
                Правила
            br
            Выбей от 1 до 1000 очков за один клик!
            hr
            h4
                Обновления
            p
                Ты можешь увеличить свои очки на 1, 2, 5, 10, 100 или 1000. Каждый клик - это случайное число!

        .col-xs-2.col-md-5
    br
    .row
        .col-xs-2.col-md-5
        .col-xs-8.col-md-2
            span(style="text-align: center;width: 100%;display:block;")
                Также играйте:
            br
            a.btn.btn-default(href="http://kinghill.sopost.ru", style="width: 100%;")
                Игра "Царь горы"
        .col-xs-2.col-md-5
    br
    .row
        .col-xs-2.col-md-4
        .col-xs-8.col-md-4
            span(style="text-align: center;font-size: 9px;color: #999;width:100%;display:block;")
                Версия 0.1
        .col-xs-2.col-md-4
    br
    br



.modal.fade#regModal(tabindex="-1", role="dialog")
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type="button", data-dismiss="modal", aria-label="Закрыть")
                    span(aria-hidden="true")
                         &times;
                h4.modal-title
                     Авторизация
            .modal-body
                .form-group
                    label(for="inputUsername")
                         Введите любой никнейм
                    input.form-control#formUsername(type="text")
            .modal-footer
                button.btn.btn-success#signin
                     Войти
