h1, h2, h3 {
    text-align: center;
}

.count {
   padding: 50px 0;
   width: 100%;
   font-size: 30px;
   text-align: center;
   border: 1px #ccc solid;
   border-radius: 2px;
 }

 .click-dialog {
    padding: 20px 0 10px 0;
    min-height: 54px;
 }

 .click-result {
    color: green;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
 }

 .userinfo {
     border-bottom: 1px #ccc solid;
     padding: 10px 0;
 }
 .userinfo div {
     padding: 10px 5px;
     font-size: 12px;
     font-weight: bold;
 }
 .username {
     text-align: center;
 }

 .title {
     text-align: center;
     padding: 12px 0;
     font-size: 18px;
 }

 .time {
     display: none;
     padding: 10px 5px;
     font-size: 16px;
     text-align: center;
 }

 .click {
     width: 100%;
     height: 56px;
 }

 .bonus {
     border: 1px #ccc solid;
     color: #ccc;
     font-size: 10px;
     border-radius: 2px;
     width: 40px;
     text-align: center;
     padding: 6px 0 4px;
     display: block;
 }
 .bonus-active {
     background: #2E7D32;
     color:#fff;
     border-color: #43A047;
 }

 #messages {
     font-size: 10px;
 }
